body {
  background-color: #161616;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#color-palette {
  background-color: #575757;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
}

.color {
  border: 1px solid rgb(0, 0, 0);
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 5px;
}

.pixels-size {
  margin-bottom: 20px;
  font-size: 20px;
}

.pixels-size input {
  width: 50px;
  font-size: 16px;
}

.buttons {
  margin-bottom: 20px;
}

.buttons button {
  font-size: 16px;
  font-weight: bold;
  height: 30px;
  width: 90px;
}

.pixel-board {
  display: table;
  border-collapse: collapse;
}

.pixel-row {
  display: table-row;
}

.pixel {
  background: white;
  border: 1px solid black;
  box-sizing: border-box;
  display: table-cell;
  width: 40px;
  height: 40px;
}

.board-size {
  width: 40px;
}